* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./abstracts/colors.scss";
@import "./abstracts/fonts.scss";

#wrapper {
  max-width: 1920px;
  margin: 0 auto 0;
  font-family: "Museo", "Segoe UI", "Arial", sans-serif;
  @import "sections/header";
  @import "sections/contest";
  @import "sections/info";

  img {
    max-width: 100%;
  }
}
